---
import Base from "~/layouts/base.astro";

import Main from "~/components/main.astro";
---

<Base>
   <h1
      class="text-3xl sm:text-6xl md:text-7xl text-center text-accent font-bold"
   >
      Abbreviations in code
   </h1>

   <nav class="flex flex-wrap gap-1 items-center text-accent font-semibold">
      <a href="https://github.com/abbrcode" class="hover:underline">
         Org
      </a>
      •
      <a
         href="https://github.com/abbrcode/abbreviations-in-code"
         class="hover:underline flex gap-1 items-center"
      >
         <div>Repo</div>
         <img
            src="https://img.shields.io/github/stars/abbrcode/abbreviations-in-code?style=for-the-badge&labelColor=00f&color=00f"
            alt="Repo"
            class="rounded"
         />
      </a>
      •
      <a
         href="https://github.com/t1xx1/abbrext"
         class="hover:underline">AbbrExt</a
      >
   </nav>

   <Main />
</Base>
