---
import "../styles/global.css";

import type { Abbr } from "../types/abbr";

import Main from "../islands/main.svelte";

const abbrs: Abbr[] = await (
   await fetch(
      "https://raw.githubusercontent.com/abbrcode/abbreviations-in-code/main/data/abbrs/.json",
   )
).json();
const degrees = await (
   await fetch(
      "https://raw.githubusercontent.com/abbrcode/abbreviations-in-code/main/data/degrees.json",
   )
).json();
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />

      <meta name="generator" content={Astro.generator} />

      <title>Abbreviations in code</title>
   </head>

   <body class="bg-bg text-text py-5 sm:py-10 flex flex-col gap-5 items-center">
      <h1 class="text-4xl sm:text-6xl md:text-7xl text-center font-semibold">
         <span class="text-accent">Abbr</span><span class="text-primary"
            >eviations in</span
         >
         <span class="text-accent">code</span>
      </h1>

      <nav class="text-lg sm:text-xl flex flex-wrap gap-1 justify-center">
         <a href="https://abbrcode.github.io/website" class="link">Old site</a>
         •
         <a href="https://github.com/abbrcode" class="link">Org</a>
         •
         <a
            href="https://github.com/abbrcode/abbreviations-in-code"
            class="link">Repo</a
         >
         •
         <a href="https://github.com/t1xx1/abbrext" class="link">AbbrExt</a>
      </nav>

      <Main client:load {abbrs} {degrees} />
   </body>
</html>
