---
import Base from "~/layouts/base.astro";

import type { Abbr } from "../types/abbr";

import Main from "../islands/main.svelte";

const abbrs: Abbr[] = await (
   await fetch(
      "https://raw.githubusercontent.com/abbrcode/abbreviations-in-code/main/data/abbrs/.json",
   )
).json();
const degrees = await (
   await fetch(
      "https://raw.githubusercontent.com/abbrcode/abbreviations-in-code/main/data/degrees.json",
   )
).json();
---

<Base>
   <h1 class="text-3xl sm:text-6xl md:text-7xl text-center font-semibold">
      <span class="text-accent">Abbr</span><span class="text-primary"
         >eviations in</span
      >
      <span class="text-accent">code</span>
   </h1>

   <nav class="text-md sm:text-xl flex flex-wrap gap-1 justify-center">
      <a href="https://abbrcode.github.io/website" class="link">Old site</a>
      •
      <a href="https://github.com/abbrcode" class="link">Org</a>
      •
      <a
         href="https://github.com/abbrcode/abbreviations-in-code"
         class="link flex gap-1 items-center"
      >
         <div>Repo</div>
         <img
            src="https://img.shields.io/github/stars/abbrcode/abbreviations-in-code?style=for-the-badge&labelColor=8080ff&color=8080ff"
            alt="Repo stars"
            class="rounded"
         />
      </a>
      •
      <a href="https://github.com/t1xx1/abbrext" class="link">AbbrExt</a>
   </nav>

   <Main client:load {abbrs} {degrees} />
</Base>
